#field {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px;
    border: 1px solid black;
    width: 250px;
    margin: 0 auto;
}

.areas {
    border: 1px solid black;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
}

#turn {
    margin-top: 25px;
    text-align: center;
}

.maru {
    background-color: rgb(253, 107, 107);
}

.batu {
    background-color: rgb(165, 165, 255);
}